
<ul class="list-group">
	<li class="list-group-item" *ngIf="this.comments.length==0"><h4>No comments</h4><br></li>
	<app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
  <!--<li class="list-group-item"><h6>Mahmoud</h6> <span class="badge">5</span><br><br><p>qdsqqqqq qqqqqqqqq qqqqqqqqq lmkzap ekzlqds;</p></li>
  <li class="list-group-item"><h6>Warnings</h6> <span class="badge">3</span><br><br><p>qdsqqqqq qqqqqqqqq qqqqqqqqq lmkzap ekzlqds;</p></li>-->
	<li class="list-group-item">
		<h6>Me</h6>
		<textarea name="name" placeholder="Write a comment..." class="form-control" rows="2" cols="50" [(ngModel)]="newComment" (keyup.enter)="addComment()"></textarea>
		<br>
		<button class="btn btn-danger btn-sm button_order" (click)="addComment()">Comment</button>
	</li>
</ul>
