<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/marketing2.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-12 mr-auto ml-auto">
                      <div class="card card-register">
					    <h3 class="title">Welcome</h3>
                          <!--<div class="social-line text-center">
                              <a href="#pablo" *ngIf="false" class="btn btn-neutral btn-facebook btn-just-icon">
                                  <i class="fa fa-facebook-square"></i>
                              </a>
                          </div>-->
							<mat-horizontal-stepper [linear] = "true" #stepper
								style="background-color:#FF8F5E">
						   <mat-step [stepControl] = "accountDetailFormGroup" >
						   <ng-template matStepLabel>Account Details</ng-template>
                            <form class="register-form"
                                         [formGroup] = "accountDetailFormGroup">
                              <label>Email</label>
                              <div class="input-group form-group-no-border">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>

                                  <input type="email" class="form-control" placeholder="Email" formControlName = "email" required >

                              </div>
                              <label>Username</label>
                              <div class="input-group form-group-no-border">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>

                                  <input type="text" class="form-control" placeholder="Username" formControlName = "username" required>

                              </div>

                              <label>Password</label>
                              <div class="input-group form-group-no-border">
                                  <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                  </div>
                                  <input type="password" class="form-control" placeholder="Password" formControlName = "password"
                                         [ngClass]="{'form-control-danger':accountDetailFormGroup.password && accountDetailFormGroup.password.touched && !accountDetailFormGroup.password.valid}">
                              </div>

                              <label>Confirm Password</label>
                              <div class="input-group form-group-no-border">
                                  <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                  </div>
                                  <input type="password" class="form-control form-control-danger" [ngClass]="{'form-control-danger': accountDetailFormGroup.errors?.passwordsMatch!=null}" placeholder="Confirm Password" formControlName = "passConfirm">
                              </div>
                              <br/>
							  <div  *ngIf="accountDetailFormGroup.errors?.passwordsMatch!=null && accountDetailFormGroup && (accountDetailFormGroup.touched || accountDetailFormGroup.dirty)"  class="cross-validation-error-message alert alert-danger">
									Passwords must match.
							 </div>
                              <button [disabled]="!accountDetailFormGroup.valid" class="btn btn-danger btn-block btn-round" matStepperNext>Next</button>
                          </form>
				   </mat-step>
                  <mat-step [stepControl]="personalDetailFormGroup">
  						   <ng-template matStepLabel>Personal Details</ng-template>
							<form class="register-form" [formGroup] = "personalDetailFormGroup" (ngSubmit)="register()">
                              <label>First Name</label>
                              <div class="input-group form-group-no-border">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>

                                  <input type="email" class="form-control" placeholder="firstName" formControlName = "firstName" required >

                              </div>
                              <label>Last Name</label>
                              <div class="input-group form-group-no-border">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>

                                  <input type="text" class="form-control" placeholder="lastName" formControlName = "lastName" required>

                              </div>

                              <label>Country</label>
                              <div class="input-group form-group-no-border">
                                  <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="country" formControlName = "country">
                              </div>

                              <label>Date of birth</label>
                              <div class="input-group form-group-no-border">
                                  <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                  </div>
                                  <input type="date" class="form-control" placeholder="dateOfBirth" formControlName = "dateOfBirth">
                              </div>

							  <label>Phone number</label>
                              <div class="input-group form-group-no-border">
                                  <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="phone" formControlName = "phoneNumber">
                              </div>
                              <mat-checkbox formControlName = "freelancer" value="checked" >Register as freelancer!</mat-checkbox>
                              <br/>
                              <button type="submit" class="btn btn-danger btn-block btn-round" matStepperNext>register</button>
                          </form>
                     </mat-step>
					 <!--<mat-step [stepControl] = "secondFormGroup">
					  <form [formGroup] = "secondFormGroup">
						 <ng-template matStepLabel>Payement Details</ng-template>
						 <mat-form-field>
						 <mat-label><mat-icon>favorite</mat-icon> Adress</mat-label>
						   <input matInput placeholder = "Address" formControlName = "secondCtrl" required>
						 </mat-form-field>
						 <div>
						   <button mat-button matStepperPrevious>Back</button>
						   <button mat-button matStepperNext>Next</button>
						 </div>
					  </form>
				   </mat-step>
				   <mat-step>
					  <ng-template matStepLabel>Done</ng-template>
						 Details taken.
					  <div>
						 <button mat-button matStepperPrevious>Back</button>
						 <button mat-button (click) = "stepper.reset()">Reset</button>
					  </div>
				   </mat-step>-->
				</mat-horizontal-stepper>



                      </div>
                    </div>
                </div>
                <div class="footer register-footer text-center">
                    <h6>&copy;{{test | date: 'yyyy'}}, TuniLance Team</h6>
                </div>
            </div>
    </div>
</div>
