.wrap{
    border: transparent solid 1px;
    margin: 0;
    background-image: url("../../../assets/black-felt.png");
  }
  .content{
    //background-color: white;
    margin: 10rem 6rem 6rem 6rem;
  }
  
  .profile-info {
    border: transparent solid 1px;
    border-radius: 1rem;
    background-color: white;
    .content-center {
      text-align: center;
    }
    img {
      margin: 1.8rem;
      border-radius: 50%;
      width: 55%;
      height: 55%;
    }
    button {
      margin-top: .6rem;
    }
    hr {
      border: 1px solid black;
    }
    .div-line {
      padding: .5rem;
      display: flex;
      justify-content: space-between;
      p {
        font-weight: bold;
        .p-right{
          text-align: right;
        }
        .p-left{
          text-align: left;
        }
      }
      i {
        padding-right: .3rem;
      }
      //border: solid black 1px;
    }
  
  }
  
  .related-services {
    //border: black solid 1px;
  }
  .title-card-center{
    display: inline;
    text-align:center;
  }
  




  .btn2 {
    opacity: 0;
  }
  .container:hover .btn2 {
    opacity: 1;
  }
  
  .container {
    position: relative;
    width: 400px;
    height: 220px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container:before {
    /* empty pseudo */
    content: '';
    
    /* start transparent, include a transition bcuz */
    opacity: 0;
    transition: opacity 0.5s ease;
    
    /* covers the whole div */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  .container:hover:before {
    opacity: 1;
  }
  .container img {
    position: absolute;
    display: block;
    max-width: 100%;
    height: auto;
    z-index: 1;
  }
  
  .btn2{
    opacity: 0;
    transition: opacity 0.5s ease;
    position: relative;
    padding: 0 40px;
    height: 40px;
    line-height: 40px;
    max-width: 260px;
    cursor: pointer;
    z-index: 3;
  }
  .container:hover .btn2 {
    opacity: 1;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}