<br>
<div class="container" style="margin-top:10%;">
  <form [formGroup] = "serviceForm" (ngSubmit)="onSubmit()" method="POST">
  <div class="row">
    <div class="col-md-8">
      <h5>Title<b style="color:red;">*</b>:</h5>
      <input
        type="text"
        class="form-control"
        required
        name="title"
        formControlName="title"><br>
      <h5>Description*:</h5>
      <textarea
        class="form-control"
        rows=5
        id="description"
        name="description"
        formControlName="description"
        required></textarea><br>
      <br><h6>TODO : Category</h6><br>
      <h5>Select Photo:</h5>
      <input
        type="file"
       name="file"
       (change)="handleFileInput($event.target.files)"
       required><br><br>
      <h5>Price*:</h5>
      <input
        type="number"
        class="form-control"
        id="price"
        name="price"
        formControlName="price"
        required><br>
      <h5>Delivery Time*:</h5>
      <input
        type="number"
        class="form-control"
        id="timerequired"
        name="timerequired"
        formControlName="timerequired"
        required><br>

      <button type="submit" class="btn btn-danger button_order">Create</button><br><br>

    </div>

  </div>
</form>

  <div *ngIf="errorMessage">
    <h4>{{errorMessage}}</h4>
  </div>
</div>
