<div class="wrap">
    <div class="content">
        <div class="row">
            <!--   Profile     -->
            <div class="col-4 profile-info">
                <div class="content-center">
                    <img src="../../../assets/img/faces/ayo-ogunseinde-2.jpg" alt="">
                    <h5>Firstname and Lastname</h5>
                    <p>brief description</p>
                    <button class="btn btn-success">Contact Me</button>
                </div>
                <hr>
                <div>
                    <div class="div-line">
                        <p><i class="nc-icon nc-pin-3"></i>Country</p>
                        <p>Tunisia</p>
                    </div>
                    <div class="div-line">
                        <p><i class="nc-icon nc-single-02"></i>Age</p>
                        <p>25</p>
                    </div>
                    <div class="div-line">
                        <p><i class="nc-icon nc-mobile"></i>Phone number</p>
                        <p >(+216) 30305050</p>
                    </div>
                </div>
                <hr>
                Description
                <hr>
                Languages
                <hr>
                Skills
                <hr>
                education
                <hr>
                certifications
                <hr>

            </div>

            <!--   Services     -->
            <div class="col-8 related-services">
                <div class="row">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Card Title</h4>
                                <h6 class="card-subtitle text-muted">Card subtitle</h6>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quas.</p>
                                <a class="btn btn-outline-primary" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Card Title</h4>
                                <h6 class="card-subtitle text-muted">Card subtitle</h6>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quas.</p>
                                <a class="btn btn-outline-primary" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Card Title</h4>
                                <h6 class="card-subtitle text-muted">Card subtitle</h6>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quas.</p>
                                <a class="btn btn-outline-primary" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Card Title</h4>
                                <h6 class="card-subtitle text-muted">Card subtitle</h6>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quas.</p>
                                <a class="btn btn-outline-primary" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Card Title</h4>
                                <h6 class="card-subtitle text-muted">Card subtitle</h6>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quas.</p>
                                <a class="btn btn-outline-primary" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Card Title</h4>
                                <h6 class="card-subtitle text-muted">Card subtitle</h6>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quas.</p>
                                <a class="btn btn-outline-primary" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

