<div class="wrap">
    <div class="content">
        <div class="row">
            <!--   Profile     -->
            <div class="col-4 profile-info">
                <div class="content-center">
                    <div class="container">
                        <img *ngIf="imgURL"  [src]="imgURL"  alt="../../../assets/img/faces/ayo-ogunseinde-2.jpg">
                    </div>   
                    <h5>{{visitedUser?.lastName}}  {{visitedUser?.firstName}}</h5>
                    <button class="btn btn-success" *ngIf="!isTheSameUser" >Contact Me</button>
                    <button class="btn btn-success" *ngIf="isTheSameUser" (click)="edit(visitedUser?.id)">Edit Profile</button>
                </div>
                <hr>
                <div>
                    <div class="div-line">
                        <p><i class="nc-icon nc-pin-3"></i>Country</p>
                        <p>{{visitedUser?.country}}</p>
                    </div>
                    <div class="div-line">
                        <p><i class="nc-icon nc-single-02"></i>dateOfBirth</p>
                        <p>{{visitedUser?.dateOfBirth}}</p>
                    </div>
                    <div class="div-line">
                        <p><i class="nc-icon nc-mobile"></i>Phone number</p>
                        <p >{{visitedUser?.phoneNumber}}</p>
                    </div>
                </div>
                <hr>
                <div class="div-line">
                    <p>Description:</p>
                </div>
                <p>{{visitedUser?.description}}</p>
                <hr>
                <div class="div-line">
                    <p>Skills:</p>
                </div>
                <div *ngFor="let skill of visitedUser?.skills"> {{skill.name}} </div>
                <hr>
                <div class="content-center">
                    <button class="btn btn-success" *ngIf="isTheSameUser" (click)="createService()">Create New Service</button>
                    <hr *ngIf="isTheSameUser">
                </div>
            </div>

            <!--   Services     -->
            <div class="col-8 related-services">
                <div class="row">
                    
                    <div class="col-6" *ngFor="let service of visitedUser?.services">
                        <app-service-card [service]="service"></app-service-card>
                    </div>          
                </div>
            </div>
        </div>
    </div>
</div>

